<!DOCTYPE html>
<html>
<head>
<base target="_top">
<title><?= title ?></title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<script type="text/javascript">
var GAW = GAW || {};
/* #template--some-sel-val
 */
GAW.render = function(id, param){
  var tid = 'template--' + id;
  var el = document.querySelector('#' + tid);
  var tp = _.template(el ? el.innerHTML : ( "TEMPLATE_ERROR:" + tid ));
  return param ? tp(param) : tp;
}
GAW.c = function(n, param){
  return '<section class="gaw-component">' + GAW.render('component-view-' + n, param || {}) + '</section>';
}
</script>
</head>
<body>
  <div id="gaw-frame">
    <?!= GAWapp.include('common', 'header'); ?>
    <?!= GAWapp.include('page', page); ?>
  </div>
  <?!= GAWapp.include('common', 'vue'); ?>
  <script>
    GAW.vue = new Vue({
      el: '#gaw-frame'
    });
  </script>

</body>
</html>
